<button class:list={["btn"]}>
    <slot />
</button>

<style>
    .btn {
        font: inherit;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        cursor: pointer;
        border: none;
        padding: 4px 16px;
        background: none;
    }
</style>