---
import EnergyData1 from "./EnergyData.svelte";
//const id = Astro.url.searchParams.get('id') || '' ;
//const socketId = Astro.url.searchParams.get('power') || '';
//console.log(socketId);
//const url = `https://vps01.getpraut.nl/influxapi/getdata.php?socketid=${socketId}`;
//const response = await fetch(url);
//console.log(socketId)
//const response = await fetch(`https://vps01.getpraut.nl/influxapi/getdata.php?socketid=${searchQuery}`);
//onst data = await response.json();
//console.log(data)---
const socketid = Astro.url.searchParams.get('socketid') || '';
const response = await fetch(`https://vps01.getpraut.nl/influxapi/getdata.php?socketid=${socketid}`);
const data = await response.json();
---

<html>
  <head>
    <title>Energy Data</title>
  </head>
  <body>
    <EnergyData1 data={data} />
  </body>
</html>